.footer {
  padding: 30px 20px;
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ccc;
  box-shadow: 1px 1px 20px -1px #ccc;
}
